@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: rgb(61, 61, 61);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgtest{
    position: absolute;
    width: 10vw;
    right: 2%;
    top: 0.2vh;
}

#btnActiveCam{
    position: fixed;
    top: 18vh;
    color: black;
    border-radius: 4px;
    border: none;
    width: 30vw;
    height: 4vh;
    font-size: 1.6vh;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
}

#btncActiveCam{
    background-color: gray;
}

.cameraDiv{
    position: relative;
    z-index: 999;
}

#camera{ 
    top: 1vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#camera canvas{
    height: 15vh;
}

video{
    border: 0.3vh white solid;
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90%;
    height: 100%;
    object-fit: cover; 
}

#testcamera{
    background-color: white;
    width: 80vw;
    display: flex;
    justify-content: center;
}

#logoKopi{
    position: fixed;
    left: 70%;
    height: 10vh;
    width: 30vw;
    top: -1.5vh;
}

#instru{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 2.5vh;
    margin-top: 7.1vh;
}

.Produto h2{
    font-size: 2vh;
}

.quadroProdutos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 8vh;
    border: 0.2vh white solid;
}

.infoProduto{
    position: relative;
    bottom: 1.5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.226);    
    border-radius: 15px;
    text-align: center;
    width: 40vw;
    font-size: 2vh;
}

.produtosSubRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    margin-top: 1vh;
    gap: 5vw;
}

.produtosLista{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logo{
    height: 5vh;
    width: 20vw;
    position: fixed;
    right: 77%;
}

input{
    background-color: transparent;
}

.nomeProduto h2{
    position: relative;
    font-size: 3vh;
    margin-top: 0;
    bottom: 1.5vh;
    height: 0.5vh;
}

.nomeProduto{
    margin-top: 1vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nomeProduto p{
    font-size: 5vh;
    margin-top: 3vh;
    margin-bottom: 0vh;
}

.btnNutricional{
    background-color: #86868652;
    height: 9vh;
    color: black;
    position: relative;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border: none;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 1.8vh;
    border-radius: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnNutricional:hover{
    background-color: #324c5683;
}

#tabelaClique{
    position: relative;
    margin: 0;
}

#tabelaP{
    font-weight: bold;
    font-size: 3vh;
    position: relative;
    margin: 0;
}

#produtosSubRowBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {

    main{
        display: flex;
        flex-direction: row;
        gap: 2.5vw;
    }

    .quadroProdutos{
        width: 20vw;
        margin-top: 20vh;
        margin-right: 2vw;
    }
    
    .infoProduto{
        padding-top: 1vh;
        width: 22vw;
        font-size: 4vh;
        height: 7.5vh;
    }

    .cameraDiv{
        position: relative;
        right: 3vw;
        bottom: 18.7vh;
    }

    #instru{
        font-size: 3vh;
        width: 30vw;
        padding-left: 5vw;
    }

    #valorPreco{
        padding: 0;
    }

    #logo{
        top: 45%;
        width: 12vw;
        height: 12vh;
        left: 16.5%;
    }

    #logoKopi{
        top: 50%;
        width: 15vw;
        height: 30vh;
        left: 15%;
    }

    #btnActiveCam{
        top: 32vh;
        left: 8vw;
    }

}
