@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: url(https://indieground.net/wp-content/uploads/2023/03/Freebie-GradientTextures-Preview-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgtest{
    position: absolute;
    width: 10vw;
    right: 2%;
    top: 0.2vh;
}

#camera{ 
    top: 1vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#camera canvas{
    height: 15vh;
}

video{
    border: 0.3vh white solid;
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90%;
    height: 100%;
    object-fit: cover; 
}

#testcamera{
    background-color: white;
    width: 80vw;
    display: flex;
    justify-content: center;
}

#logoKopi{
    position: fixed;
    left: 70%;
    height: 10vh;
    width: 30vw;
    top: -1.5vh;
}

#instru{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 2.5vh;
    margin-top: 7.1vh;
}

.Produto h2{
    font-size: 2.4vh;
}

.quadroProdutos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 5vh;
    border: 0.2vh white solid;
}

.infoProduto{
    position: relative;
    bottom: 1.5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.226);    
    border-radius: 15px;
    text-align: center;
    width: 40vw;
    font-size: 2vh;
}

.produtosSubRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    gap: 5vw;
}

.produtosLista{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logo{
    height: 5vh;
    width: 20vw;
    position:relative;
    margin-bottom: 0.6vh;
}

input{
    background-color: transparent;
}

.nomeProduto h2{
    position: relative;
    font-size: 3vh;
    margin-top: 0;
    bottom: 1.5vh;
    height: 0.5vh;
}

.nomeProduto{
    margin-top: 1vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nomeProduto p{
    font-size: 5vh;
    margin-top: 3vh;
    margin-bottom: 0vh;
}

.btnNutricional{
    background-color: #50849983;
    height: 9vh;
    color: black;
    position: relative;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border: none;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 1.8vh;
    border-radius: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tabelaClique{
    position: relative;
    margin: 0;
}

#tabelaP{
    font-weight: bold;
    font-size: 3vh;
    position: relative;
    margin: 0;
}

#produtosSubRowBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
