@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    backdrop-filter: blur(2px);
    background: url(https://i.pinimg.com/originals/88/21/9f/88219ffcd4d5ab3e1956b85d6311d197.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 45vw;
    height: 65vh;
    position: relative;
    top: 20vh;
    border-radius: 20px;
    background-color: #ffffffa6;
}

.square button{
    height: 9vh;
    width: 45%;
    border-radius: 8px;
    background-color: #ffffff73;
    color: black;
    -webkit-text-stroke-color: white;
    font-size: 3vh;
    cursor: pointer;
    font-weight: bold;
    border-color: black;
    border-width: 0.1vh;
}

.square button:hover{
    background-color: #ffffffde;
}

.LoginText{
    font-weight: bold;
    font-size: 6.5vh;
    color: black;
    -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color: white;
    margin-bottom: 4.5vh;
}

.containerLogins{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-bottom: 8.5vh;
}

.containerLogins input{
    margin: 0;
    font-size: 2.5vh;
    border-radius: 10px;
    border-color: black;
    border-width: 0.1vh;
    width: 30vw;
    height: 5vh;
    padding-left: 0.6vw;
}

.containerLogins label{
    font-size: 2.5vh;
    font-weight: 400;
}

.labelInput{
    display: flex;
    flex-direction: column;
}

@media (max-width:900px){
    .square{
        width: 90vw;
        height: 55vh;
    }

    .containerLogins{
        margin-bottom: 4.5vh;
    }

    .containerLogins input{
        width: 35vh;
        height: 6vh;
    }

    .square button{
        width: 30vw;
        height: 8vh;
        font-size: 2.3vh;
    }

    .LoginText{
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

}