*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: rgb(61, 61, 61);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: rgb(61, 61, 61);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.btns1{
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-bottom: 10vh;
}

#logoKopi{
    width: 15vh;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.buttons{
    position: relative;
}

.card{
    position: relative;
    width: 35vh;
    height: 30vh;
    overflow: hidden;
    background: #6b6b6b;
    border-radius: 1vh;
}

.card button{
    width: 101%;
    height: 101%;
    background: #6b6b6b;
    position: relative;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
    font-size: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}  

.card button:hover{
    background-color: #282828;
}

.card span:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3vh;
    background: linear-gradient(to right, transparent, #9a2fff);
    animation: animar1 2s linear infinite;
  }
  
  .card span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 0.3vh;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #9a2fff);
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
  }
  
  .card span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0.3vh;
    background: linear-gradient(to left, transparent, #9a2fff);
    animation: animar3 2s linear infinite;
  }
  
  .card span:nth-of-type(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0.3vh;
    height: 100%;
    background: linear-gradient(to top, transparent, #9a2fff);
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
  }
  
  @keyframes animar1{
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  
  @keyframes animar2{
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
  }
  
  @keyframes animar3{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }
  
  @keyframes animar4{
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
  }

  @media (min-width:800px){
    body{
      height: 100vh;
    }
    
    section{
      height: 100vh;
      display: flex;
      flex-direction: row;
      gap: 10vh;
    }

    #logoKopi{
      position: relative;
      margin-bottom: 0vh;
    }

}