*{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    backdrop-filter: blur(2px);
    background: rgb(61, 61, 61);
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}

#productForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputCadastrar{
    display: flex;
    flex-direction: column;
}

.inputCadastrar input{
    background-color: #cfcfcf;
    border: 1px #a0a0a0 solid;
    width: 80vw;
    height: 4vh;
    color: black;
    font-size: 2.2vh;
}

.inputCadastrar label{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.btn{
    background-color: rgb(44, 44, 44);
    border: 1px rgb(160, 160, 160) solid;
    border-radius: 4px;
    width: 40vw;
    height: 8vh;
    text-decoration: none;
    font-size: 3.2vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.btns{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: center;
    align-items: center;
}

#btnTabela{
    position: relative;
    top: -1vh;
    font-size: 2vh;
    width: 35vw;
    height: 7vh;
    background-color: #424242;
    text-align: center;
}

.botoesEditar{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.botoesExcluir{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    gap: 6vw;
}

#productList{
    height: 45vh;
    width: 80vw;
    border: solid white 1px;
    background-color: rgb(190, 188, 188);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    align-items: center;
    padding-left: 0;
}

#productList li{
    width: 80vw;
    position: relative;
    border-top: 1px black solid ;
    border-bottom: 1px black solid ;
    padding-left: 2vw;
    font-size: 3vh;
}


h1{
    color: white;
}

.search{
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5vh;
}

.search svg{
    width: 4.5vh;
}

#searchBar{
    width: 80vw;
    background-color: #cfcfcf;
    border: 1px white solid;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}